<h1>Agular Router</h1>
<nav>
  <ul>
    <li><a routerLink="/page1/1">Page1</a></li>
    <li><a routerLink="/page2">Page2</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
<app-parent></app-parent>
<app-template-statement></app-template-statement>
<app-pipe></app-pipe>
<app-props-binding></app-props-binding>
<app-sizer [(size)]="fontSizepx"></app-sizer>
<div [style.font-size.px]="fontSizepx">Resizeable text</div>
<app-directives></app-directives>
<app-log-di></app-log-di>
<app-http-client-get></app-http-client-get>
